footer {
  height: 50px;
  background-color: cornsilk;
  border: 1px solid darkgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h6.copyright {
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 30px;
}