html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 20px;
}

.container {
    max-width: 760px;
}

.card-badge {
    margin: 0 5px;
}

.card-tags {
    position: absolute;
    bottom: 5px;
    padding: 5px;
}

.card-img-container {
    position: relative;
}